<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Questionnaire</title>
</head>

<body>
    <h1>Add New Questionnaire</h1>
    <form method="POST" action="/addQuestionnaire">
        <input type="text" name="name" placeholder="Questionnaire Name" required />
        <input type="submit" value="Save" />
    </form>
    <form action="/index" method="get">
        <button type="submit">Back</button>
    </form>

</body>

</html>